*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
.container{
    max-width:920px;
    margin: 0 auto;
    margin-top: 50px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}
.gallery a{
    
}
.gallery img{
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
}
@media(max-width: 920px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 430px){
    .gallery{
        grid-template-columns: 1fr;
    }
}